<nav>
    <% if logged_in? %>
    <p> Welcome back, <strong><%=current_user.first_name%></strong></p>

     <a href= "/collections/new" <button>Create a New Collection </button></a>
     <a href= "/logout" <button>Log Out</button></a> 
    <%else%>
    <a href="/signup"> <button>Sign Up</button></a>
    <a href="/login"> <button>Sign In</button></a>
    <%end%>