<nav>
    <% if logged_in? %>
    <p> Welcome back, <i><strong><%=current_user.first_name%></strong></i></p>
    
     <p><a href= "/collections/new"> Create a New Collection </a></p>
     
     <p><a href="/collections">View all Collections</a></p>

     <p><a href= "/logout"> Log Out</a></p>
    
    <%else%>
    <a href="/signup"> <button>Sign Up</button></a>
    <a href="/login"> <button>Sign In</button></a>
    <%end%>