<h3>Log In below:</h3>
<break>
<form action="/login" method="POST">
  <label><p>Username: <input type="text" name="username"></p></label>
  <label><p>Password: <input type="text" name="password"></p></label>
  <label><input class="buttons" type="submit" value= "Log In"></label>
</form>
</break>