<div class="container">
  <header><img src="images/logo.png" class="main-logo" alt="Vacation Collection Logo">
</header>
    <div class="content">
    <h2> My Vacation Collection</h2> 
      <p>Welcome to  <strong> My Vacation Collection</strong>, your online repository for storing and display snippets of your favorite vacations!</p>

      <p>Sign up or log in below to start your own vacation collection! </p>
    </div>
    <a href="/signup"> <button>Sign Up</button></a>
    <a href="/login"> <button>Sign In</button></a>



