<div class="container">
  <header><img src="images/logo.png" class="main-logo" alt="Vacation Collection Logo">
</header>
    <div class="content">
    <h2> My Vacation Collection</h2> 
      <p>Welcome to  <strong> My Vacation Collection</strong>, your one place to store a display spippets of your favorite vacations!
     
      Sign up or log in to start your own vacation collection! </p>
    </div>
